@model IEnumerable<ProvaEnc.Models.ProvaModel>
@{
    ViewBag.Title = "Index";
}

<br />

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800"></h1>
    <p class="mb4">Lista de Textos</p>

    <p>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Produtos</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="sisDataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th scope="col">@Html.DisplayNameFor(model => model.Texto)</th>

                                <th scope="col">Funções</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Texto)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Decriptar", "Details", new { id = item.Id }) |
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </p>

</div>



